@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.hidePage {
    display: none;
}

/*naranja #F14B21
azul #1B76CF
verde #55E0B7
rosa #E658AA
morado #734399
azul texto #2165BA
letra gris #5A5A5A
gris fondo #D5D5D5
gris claro fondo #f6f6f6*/ 

body{
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #1B76CF;
    margin: 0 0 80px;
    padding: 30px;
}

h1, h2, h3{
    font-weight: bold;
    text-align: center;
}

h1, h2{
    color: whitesmoke;
}
h1{
    font-size: 55px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 35px;
    color: #5A5A5A;
}

.hexagon-button{
   width: 200px;
   margin: 30px auto;
   display: block;
}

.sort-button {
    background: #D5D5D5;
    border: none;
    width: 37%;
    border-radius: 10px;
    margin: 2% 4%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #003471;
    display: inline-block;
  }